body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

.navbar {
    background-color: #82abe1;
    color: rgb(90, 23, 23);
    padding: 15px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    color: rgb(167, 239, 42);
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: rgb(231, 110, 18);
    text-decoration: none;
    padding: 8px 16px;
    transition: background 0.3s;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 4px;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow: hidden;
}
li{
    float:left;
}
li a{
    display: block;
    padding: 8px;
    background-color: aquamarine;
}